<h1>Sizes#new</h1>

<div style='width: 300px;'>
  <%= form_with model: @size, url: sizes_convert_path, method: :get do |f| %>
    <div>
      <p>
        <%= f.label :starting_locale, 'Starting locale:' %><br>
        <%= f.select(:starting_locale, options_for_select(Size::LOCALES, selected: @size.starting_locale), {}, { style: 'width:100%' }) %>
      </p>
    </div>
    <div>
      <p>
        <%= f.label :starting_locale_size, 'Size:' %><br>
        <%= f.text_field :starting_locale_size, value: @size&.starting_locale_size, style: 'width: 97%' %>
      </p>
    </div>
    <div>
      <p>
        <%= f.label :target_locale, 'Target locale:' %><br>
        <%= f.select(:target_locale, options_for_select(Size::LOCALES, selected: @size.target_locale), {}, { style: 'width:100%' }) %>
      </p>
    </div>
    <div>
      <p style='text-align: center; margin: 2em 0 3em 0;'>
        <%= f.submit 'Convert', style: 'width: 300px' %>
      </p>
    </div>
  <% end %>
</div>

<div>
  <% if @size %>
    <p>Results:</p>
    <p>Starting locale: <%= @size.starting_locale %></p>
    <p>Size in starting locale: <%= @size.starting_locale_size %></p>
    <p>Target locale: <%= @size.target_locale %></p>
    <p>Size in target locale: <%= @size.target_locale_size %></p>
    <% @size.errors.full_messages.each.with_index(1) do |error, i| %>
      <p>Error <%= i %>: <%= error %></p>
    <% end %>
  <% end %>
</div>
